body {
  padding-top: 4.5rem;

  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 17px;
  line-height: 23px;

}

p {
  margin: 1em;
}

.container {
  margin-top:2em;
}

.jumbotron {
  padding: 1em;
}

h1 {
    font-family: 'Amatic SC', cursive;
    font-weight: 700;
    font-size: 3.5rem;
    color:red;
    margin-bottom: 0.5em;
    }

h2 {
  font-size:2rem;
}

p {
    margin: 0 0 23px 0;
}

.navbar-brand {
  font-family: 'Amatic SC', cursive;
  font-weight: 700;
  font-size: 2rem;
  color:red;
}






.album {
  min-height: 50rem; /* Can be removed; just added for demo purposes */
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: #f7f7f7;
}

.card {
  float: left;
  width: 33.333%;
  padding: .75rem;
  margin-bottom: 2rem;
  border: 0;
}

.card > img {
  margin-bottom: .75rem;
}

.card-text {
  font-size: 85%;
}
