---
layout: default
---

      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
        <div class="container" style="padding-left:220px;width: 100%;height:100;background-image:url({{ '/assets/img/logo_jumbotron.png' | relative_url }}); background-repeat: no-repeat;" />
          <h1 class="display-3" style="margin:0;text-shadow: 2px 2px #999;">{{site.title}}</h1>
          <p>{{site.description}}</p>
          <br />
          <p><a class="btn btn-primary btn-lg" href="{{ '/blog/' | relative_url }}" role="button">Lire le Blog &raquo;</a></p>
        </div>
      </div>
